<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Jeremy Pitt</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <script src="https://use.fontawesome.com/a025aa1654.js"></script>
</head>
<body>
<div class="navbar-fixed">
  <nav class="light-blue lighten-3" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Jeremy Pitt</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#About_Me">About Me</a></li>
        <li><a href="#Portfolio">Portfolio</a></li>
        <li><a href="#Skills">Skills</a></li>
        <li><a href="#Contact">Contact Me</a></li>
        <li><a href="JeremyPittResume.docx.pdf">Resume</a> </li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#About_Me">About Me</a></li>
        <li><a href="#Portfolio">Portfolio</a></li>
        <li><a href="#">Skills</a></li>
        <li><a href="#Contact">Contact Me</a></li>
        <li>other stuff</li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  </div>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <div class="center-align">
        <img src="images/headshot.jpg" class="circle" width="400" height="400"/>
      </div>
      <h1 class="header center light-blue-text">Jeremy Pitt</h1>
      <h3 class="header center light-blue-text">Back-End Web Developer</h3>
      <div class="section" id="About_Me">
        <h1 class="light-blue-text">About Me</h1>
        <p>I am a Tennessee based web developer with a passion for solving problems. I have recently graduated from The Iron yard, an intensive 12 week coding camp, and also have an Associate degree in Software Development Technology, as well as some experience in database management. My goal is to create functional and effective websites and services that will be used to great effect by people with a variety of needs. I would love to be a part of your team and work together to build something wonderful.
        </p>
      </div>

      <br><br>

    </div>
    <div class="container" id="Portfolio">
      <div class="section">
        <h1 class="light-blue-text">Portfolio</h1>
        <div class="row">
          <div class="col s12 m4">
            <div class="card hoverable">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="images/MyBinge3.png">
              </div>
              <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">MyBingeTV<i
                                class="material-icons right">more_vert</i></span>
                <p><a href="https://github.com/jmpitt822/MyBingeTV/tree/develop">See the Code</a></p>
                <p><a href="http://mybinge-tv.herokuapp.com/">Visit the Site</a></p>
              </div>
              <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">MyBingeTV<i
                                class="material-icons right">close</i></span>
                <p>MyBingeTV was created with the intent of giving users the ability the track their favorite TV shows. It calls an external API to collect information about a show based on the user's search input, and allows the user to create an account to save a list of shows for easy access.
                <h5>Tools:</h5>
                <ul>
                  <li>Java</li>
                  <li>Spring Framework</li>
                  <li>HTML</li>
                  <li>CSS</li>
                  <li>SQL</li>
                  <li>Postgres</li>
                </ul>
                </p>
              </div>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card hoverable">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="images/ScalaPurchasesScreen.png">
              </div>
              <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Scala Purchases<i
                                class="material-icons right">more_vert</i></span>
                <p><a href="https://github.com/jmpitt822/ScalaPurchases">See the Code</a></p>
              </div>
              <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Scala Purchases<i
                                class="material-icons right">close</i></span>
                <p>In this app, I filter through a CSV file containing information aobut purchases made by a customer by the category of their purchase. I then print the filtered results as well as writing them to a second file.</p>
                <h5>Tools:</h5>
                <ul>
                  <li>Scala</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card hoverable">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="images/IronGramHomeScreen.png">
              </div>
              <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">IronGram<i
                                class="material-icons right">more_vert</i></span>
                <p><a href="https://github.com/jmpitt822/IronGram/tree/develop">See the Code</a></p>
              </div>
              <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">IronGram<i
                                class="material-icons right">close</i></span>
                <p>This was an assignment to create a SnapChat-like site that allows users to upload photos, specify other users as recipients, and have those photos be deleted after a specfied amount of time upon being viewed.
                </p>
                <h5>Tools:</h5>
                <ul>
                  <li>Java</li>
                  <li>Spring Framework</li>
                  <li>HTML</li>
                  <li>JavaScript</li>
                  <li>H2 Database</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m4">
            <div class="card hoverable">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="images/SpringCRUDScreenShot.png">
              </div>
              <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">SpringCRUD<i
                                class="material-icons right">more_vert</i></span>
                <p><a href="https://github.com/jmpitt822/SpringCRUD/tree/develop">See the Code</a></p>
              </div>
              <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">SpringCRUD<i
                                class="material-icons right">close</i></span>
                <p>This is a simple CRUD application created to track information about conventions, including their name, location, capacity, and subject.</p>
                <h5>Tools:</h5>
                <ul>
                  <li>Java</li>
                  <li>Spring Framework</li>
                  <li>HTML</li>
                  <li>Postgres</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card hoverable">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="images/ToDoScreenShot.png">
              </div>
              <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">ToDo DB<i
                                class="material-icons right">more_vert</i></span>
                <p><a href="https://github.com/jmpitt822/ToDoDB_Joins">See the Code</a></p>
              </div>
              <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">ToDo DB<i
                                class="material-icons right">close</i></span>
                <p>This is a tool that lets the user create an item on a to-do list, stores that item in a database, and gives the user the ability to toggle whether or not the item has been completed.</p>
                <h5>Tools:</h5>
                <ul>
                  <li>Java</li>
                  <li>SQL</li>
                  <li>HTML</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card hoverable">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="images/MicroBlogScreenShot.png">
              </div>
              <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">MicroBlog Spring<i
                                class="material-icons right">more_vert</i></span>
                <p><a href="https://github.com/jmpitt822/MicroblogSpring/tree/develop">See the Code</a></p>
              </div>
              <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">MicroBlog Spring<i
                                class="material-icons right">close</i></span>
                <p>A simple blogging site where a user can post, edit, or delete messages and read messages posted by other users.</p>
                <h5>Tools:</h5>
                <ul>
                  <li>Java</li>
                  <li>Spring Framework</li>
                  <li>HTML</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="container" id="Skills">
      <div class="section">
        <h1 class="light-blue-text">Skills</h1>
        <div class="row">
          <div class="col s12 m4">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text light-blue darken-4">
              <span class="card-title">Languages</span>
              <ul>
                <li>Java</li>
                <li>Scala</li>
                <li>HTML</li>
                <li>Python</li>
              </ul>
            </div>
          </div>
        </div>
          <div class="col s12 m4">
            <div class="card blue-grey darken-1">
              <div class="card-content white-text light-blue darken-4">
                <span class="card-title">Frameworks</span>
                <ul>
                <li>Spring</li>
                <li>Spark</li>
                <li>Play</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card blue-grey darken-1">
              <div class="card-content white-text light-blue darken-4">
                <span class="card-title">Technologies</span>
                <ul>
                <li>Git</li>
                <li>Unix CLI</li>
                <li>IntelliJ IDEA</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container" id="Contact">
      <div class="section">
        <h1 class="light-blue-text">Contact Me</h1>
        <div class="row center-align">
          <div class="col s7 m3">
            <a href="mailto:jeremypittTN@gmail.com?Subject=Hi%20Jeremy,%20from%20your%20portfolio">
            <div class="card-panel light-blue darken-4">
          <span class="white-text">
              <i class="material-icons">email</i>
            <p>jeremypittTN@gmail.com</p>
          </span>
            </div>
            </a>
          </div>
          <div class="col s5 m3">
            <a href="tel:1-615-828-6139">
            <div class="card-panel light-blue darken-4">
          <span class="white-text">
            <i class="material-icons">phone</i>
              <p class="no-margin">615-828-6139</p>
          </span>
            </div>
            </a>
          </div>
          <div class="col s5 m3">
            <a href="github.com/jmpitt822">
            <div class="card-panel light-blue darken-4">
          <span class="white-text"><i class="fa fa-github fa-2x" aria-hidden="true"></i>
          <p>GitHub</p>
          </span>
            </div>
            </a>
          </div>
          <div class="col s7 m3">
            <a href="https://www.linkedin.com/in/jeremy-pitt-850a8b12b">
            <div class="card-panel light-blue darken-4">
          <span class="white-text"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
          <p>LinkedIn</p>
          </span>
            </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <footer class="page-footer grey">

    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
